body {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#app-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #46dbc3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

#search-bar {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 25px;
    background-color: #d4e5f1;
}

#search-btn {
    padding: 10px;
    background-color: #80fcc2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#recent-searches {
    margin-top: 20px;
    border: solid #0004ff 1px;
    border-radius: 5px;
    padding: 10px;
    background-color: #80fcc2;
}

#current-weather-card-container {
    border: solid #0004ff 2px;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 15px;
    background-color: #80fcc2;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}
.current-weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text horizontally */
    background-color: #f5f5f5;
    border: 1px solid #80ceea;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
}


.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Center text horizontally */
    background-color: #f5f5f5;
    border: 1px solid #80ceea;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
}



.weather-image {
    max-width: 50px;
    max-height: 50px;
    margin-top: 10px; /* Add margin for spacing between text and image */
}

#forecast-heading {
    text-align: center; /* Center the text horizontally */
    margin-top: 30px;
}

#weather-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center content horizontally */
}